.main-content {
    text-align: center;
}

.quiz-questions {
    text-align: center;
    margin: 5rem 0rem 2rem 0rem;
}

.choices ul {
    align-items: center;
}

ul {
    justify-content: center;
    flex-direction: column;
    list-style: none;
    padding: 5px 5px;
    margin: 5px;
    display: flex;    
}

.choice-list-items {
    background-color: red;
    border: 1px solid black;
    min-width: 300px;
    padding: 1rem;
    margin: 2px;
    text-align: center;
}